.questionsDesktopMain {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/bg-cell-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.questionDesktopContainer {
  width: calc(100% - 143px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.questionDesktopTitle {
  color: var(--white);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin: 1rem 0;
  text-align: center;
}

.questionNextButton {
  display: grid;
  place-items: center;
  border: solid 2px var(--white);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition-duration: var(--duration);
  margin-bottom: 1rem;
}

.questionNextButtonImage {
  transform: rotate(-180deg);
}

.diseasesContainerDesktop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  max-height: 200px;
  font-size: 0.8rem;
  color: var(--white);
  margin: 0.5rem 0;
}

.diseaseItemDesktop {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.diseaseItemDesktop img {
  margin-right: 5px;
}

.diseaseItemDesktop p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
}

@media (hover: hover) and (pointer: fine) {
  .questionNextButton:hover {
    background-color: var(--white);
  }

  .questionNextButton:hover > .questionNextButtonImage {
    filter: brightness(0) saturate(100%);
  }
}

.questionNextButton:focus-visible {
  background-color: var(--white);
}

.questionNextButton:focus-visible > .questionNextButtonImage {
  filter: brightness(0) saturate(100%);
}

@media (min-width: 1200px) {
  .questionNextButton {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 0;
  }

  .diseaseItemDesktop p {
    max-width: 250px;
  }
}
