.layoutContainer {
  width: 100%;
  height: 100%;
}

.sectionAnimated {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.sectionBlue {
  background-color: var(--blue);
  height: 100%;
  flex: 1;
}

.sectionDarkBlue {
  background-color: var(--darkBlue);
  height: 100%;
  flex: 1;
}

.sectionVeryDarkblue {
  background-color: var(--veryDarkBlue);
  height: 100%;
  flex: 1;
}
