.lateralBar {
  width: 143px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  -webkit-box-shadow: 5px 5px 3px -4px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 5px 5px 3px -4px rgba(0, 0, 0, 0.37);
  box-shadow: 5px 5px 3px -4px rgba(0, 0, 0, 0.37);
}

.barWhite {
  background-color: var(--white);
}

.barBlue {
  background-color: var(--darkBlue);
}
